accept4: 1
access: 1
alarm: 1
arch_prctl: 1
bind: 1
brk: 1
capget: 1
capset: 1
chdir: 1
chmod: 1
chown: 1
clock_getres: 1
clone: 1
close: 1
connect: 1
dup: 1
dup2: 1
epoll_create: 1
epoll_ctl: 1
epoll_wait: 1
eventfd2: 1
execve: 1
exit: 1
exit_group: 1
faccessat: 1
fadvise64: 1
fchmod: 1
fchown: 1
fcntl: 1
fdatasync: 1
flock: 1
fstat: 1
fstatfs: 1
ftruncate: 1
futex: 1
getcwd: 1
getdents: 1
getegid: 1
geteuid: 1
getgid: 1
getpeername: 1
getpgrp: 1
getpid: 1
getppid: 1
getrandom: 1
getresgid: 1
getresuid: 1
getrlimit: 1
getrusage: 1
getsockname: 1
getsockopt: 1
gettid: 1
getuid: 1
ioctl: 1
kill: 1
listen: 1
lseek: 1
lstat: 1
madvise: 1
mkdir: 1
mmap: 1
mprotect: 1
mremap: 1
munmap: 1
nanosleep: 1
open: 1
openat: 1
pipe: 1
pipe2: 1
poll: 1
prctl: 1
pselect6: 1
read: 1
readlink: 1
readlinkat: 1
recvfrom: 1
recvmsg: 1
rename: 1
rmdir: 1
rt_sigaction: 1
rt_sigprocmask: 1
rt_sigreturn: 1
sched_getaffinity: 1
sched_yield: 1
select: 1
sendmsg: 1
sendto: 1
setgid: 1
setgroups: 1
setpgid: 1
setresgid: 1
setresuid: 1
setrlimit: 1
set_robust_list: 1
setsid: 1
setsockopt: 1
set_tid_address: 1
setuid: 1
shmat: 1
shmctl: 1
shmdt: 1
shmget: 1
shutdown: 1
socket: 1
socketpair: 1
stat: 1
statfs: 1
tgkill: 1
umask: 1
uname: 1
unlink: 1
wait4: 1
write: 1
writev: 1
