Makefile
Makefile.*
*.user
*.user.*
debug
release
*.pdb
*.app
.packagingrc
.qmake.stash
.qmake.cache
.DS_Store
*.exe
*.dll
*.o
*.moc
tests/*/tst_*
src/tests/*/tst_*
!tst_*.pro
!tst_*.cpp
!tst_*.h
*.pb.h
*.pb.cc
packaging/installer/Qt
packaging/installer/Output
translation/*.qm
src/tego-ui/translation/*.qm
config
config.ricochet
config.log
config.tests/*/*
!config.tests/*/*.pro
!config.tests/*/*.cpp
!config.tests/*/*.h
ricochet
src/ricochet.log
build-tests*
buildscripts/src/ricochet-refresh
buildscripts/output
buildscripts/lib
target_wrapper\.sh
moc_predefs.h
\.vscode/c_cpp_properties\.json

\.vscode/
notes/*

ricochet-refresh
