# Build files
Makefile
Makefile.*
CMake*
build/
debug
release

# Build artifacts
*.exe
*.dll
*.pdb
*.so
*.a
*.o
*.app
*.dylib
*.moc

# Generated source files (These should always end up in the build dir anyway)
*.pb.h
*.pb.cc
moc_*.cpp
moc_predefs.h
qrc_*.cpp

# Generated translations
*.qm

# Other
*.user
*.user.*
.DS_Store
.packagingrc
.vscode/

# Ricochet files (when running in the root dir)
config
config.ricochet

