Source: ricochet-refresh
Section: net
Priority: optional
Maintainer: Blueprint For Freespeech <ricochet@blueprintforfreespeech.net>
Build-Depends: debhelper (>= 9), pkg-config, libevent-dev, libssl-dev, libprotobuf-dev, protobuf-compiler, qtbase5-dev, qtdeclarative5-dev, qttools5-dev-tools, tor, make
Standards-Version: 4.4.1
Homepage: https://ricochetrefresh.net/

Package: ricochet-refresh
Architecture: any
Depends: tor, ${shlibs:Depends}, ${misc:Depends},
    qml-module-qtgraphicaleffects,
    qml-module-qtquick-controls,
    qml-module-qtquick-layouts,
    qml-module-qtquick-dialogs
Description: Anonymous metadata-resistant instant messaging
 Ricochet refresh is an open source project to allow private and anonymous 
 instant messaging. It is metadata-resistant, anonymous, decentralised and 
 easy to use.
