[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ricochet IM
Categories=Network;InstantMessaging;Chat;FileTransfer;Qt
Comment=Anonymous instant messaging
Exec=ricochet

